<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.hgj.jetpackmvvm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:authorities="${applicationId}.KtxInstaller"
            android:name="me.hgj.jetpackmvvm.base.Ktx"
            android:exported="false"/>
    </application>
</manifest>
